*{
    background-color: rgb(202, 174, 207);
}
h1{
    text-align: center;
}

.button{
    text-align: center;
}
.cal{
    display: block;
    margin: 10px auto;
    padding: 10px;
}
.result{
    margin-top: 10px;
    height: 100px;
    text-align: center;
}
input{
    width: 50px;
}